*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#text{
    min-height:50px;
    max-width:200px;
}

button{
    padding:10px 30px;
    background-color: red;
    border-radius: 20px;
    color:black;
    font-weight: 600;
    cursor: pointer;
}

